.drop-area {
    width: 100%;
    height: calc(100vh - 50px - 40px);
    margin: 20px;
    border: dashed #566885 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.user-upload-input{
    display: none;
}

.user-upload-label{
    border: 2px solid white;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
}

.itemlist-header h1{
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.itemlist{
    background-color: transparent;
    color: #f5f5f5;
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-create-collection{
    background-color: transparent;
    width: 200px;
    height: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    font-size: 16px;
    border-radius: 5px;
    border-color: #f5f5f5;
    color: #f5f5f5;
}

.btn-create-collection:hover{
    background-color: #f5f5f5;
    color: #121212;
    border: none;
    border-radius: 5px;
}

.item_btn_delete{
    background-color: #181818;
    color: #686868;
    width: 80px;
    height: 36px;
    border-radius: 5px;
    border-color: #f5f5f5;
    margin-left: 120px;
    margin-bottom: 30px;
    margin-top: 15px;
    font-size: 14px;
    box-shadow: none;
}

.item_btn_delete:hover{
    background-color: transparent;
    color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
}

.moveitem{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 16px;
}

.item{
    background-color: #181818;
    border-radius: 5px;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 16px;
    color: #686868;
}

.item-name{
    margin-top: 7px;
}

.btn-back{
    background-color: transparent;
    width: 100px;
    height: 40px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
    border-radius: 5px;
    border-color: #f5f5f5;
    color: #686868;
}

.btn-back:hover{
    background-color: transparent;
    color: #f5f5f5;
    border-color: #f5f5f5;
    box-shadow: none;
}

.user-upload-label{
    background-color: transparent;
    width: 100px;
    height: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 5px;
    border-color: #f5f5f5;
    color: #686868;
}

.user-upload-label:hover{
    background-color: #f5f5f5;
    color: #121212;
    border-radius: 5px;
}
