.content {
    font-size: 46px;
    color: #f5f5f5;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 80px;
    width: 300px;
    height: 40px;
}

.iinput{
    width: 300px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border-radius: 5px;
    background-color: #212121;
    border: 1px solid;
    border-color: #2C2C2C;
    text-align: justify;
    padding-left: 10px;
}

.iinput:hover{
    background-color: transparent;
    color: #f5f5f5;
    border-color: #f5f5f5;
}

.iinput:focus{
    background-color: transparent;
    color: #f5f5f5;
    border-color: #f5f5f5;
}

.registration_submit{
    background-color: transparent;
    width: 300px;
    height: 50px;
    display: block;
    color: #686868;
    border-color: #f5f5f5;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.registration_submit:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #212121;
    box-shadow: none;
}

.login_submit{
    background-color: transparent;
    width: 300px;
    height: 50px;
    display: block;
    color: #686868;
    border-color: #f5f5f5;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.login_submit:hover {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #212121;
    box-shadow: none;
}