
.form-control me-2{
    background-color: white;
    width: 500px;
    height: 40px;
    border-radius: 7px;
    border-style: double;
    border-color: lightgray;
    margin: center;

}
.btn-outline-success{
    background-color: white;
    width: 80px;
    height: 40px;
    border-radius: 7px;
    border-style: double;
    border-color: lightgray;

   }

.content{
    font-size: 24px;
    font-family: monospace;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    display: block;
    margin-bottom: 10px;


}
.email{
    background-color: #323235;
    width: 300px;
    height: 40px;
    display: block;
    border-radius: 7px;
    border-style: double;
    border-color: lightgray;
    margin-bottom: 50px;
    margin-top: 30px;
    margin: 0 auto;


}
.password{
    background-color: #323235;
    width: 300px;
    height: 40px;
    display: block;
    border-radius: 7px;
    border-style: double;
    border-color: lightgray;
    margin-bottom: 50px;
    margin-top: 30px;
    margin: 0 auto;

}
.submit{
    background-color: #0A84FF;
    width: 300px;
    height: 50px;
    display: block;
    border-style: double;
    border-color: lightgray;
    border-radius: 7px;
    margin-top: 100px;
    margin-bottom: 10px;
    margin: 50px auto ;


}
.form-label{
    width: 100px;
    height: 20px;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: 7px  ;
    margin-left: 650px;

}
